body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    

}

.header-logo{
    background-color: #9affcd00;
    position: relative;
    color: rgb(31, 30, 31);
    left: -100;
    right: 100px;
    text-decoration: none;
    font-weight: 3;
    font-size: 10px;
    padding: 2px 4px;
    margin-right: 2.5px;
    transition: color 0.2s linear;
    border-radius: 50px; /* Закругляет углы */
}


.head-logo:hover{
    background-color: rgb(0, 0, 0); /* Черный фон при наведении */

}


.container {
    margin: 0px 80px;

}

.header {
background-color: #1c191f;
height:150vh;
background-size:cover;
}

.header-line {
    padding-top: 25px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    color: #ffffff;
    text-decoration: none;
    font-weight:bold;
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;
    left:330px;
    position: absolute;
    top:-135px;
}
.nav-item1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    color: #ffffff;
    text-decoration: none;
    font-weight:bold;
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;
    left:500px;
    top: -135px;
    
}

.nav-item:hover {
    color:#a3a3a3
}



.discord-img {
    position: absolute;

    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 35px;
    border-radius: 5px;
    left: 870px;
    top:57px;
}

.discord:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.twitch-img {
    position: absolute;
    left:1020px;
    top:60px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    border-radius: 5px;
}

.twitch-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.telegram-img {
    position: absolute;
    left:800px;
    top:60px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 2.5  px;
    border-radius: 5px;
}

.telegram-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.youtube-img {
    position: absolute;
    left:950px;
    top:60px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 2.5  px;
    border-radius: 5px;
}

.youtube-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}


.button{
    position: relative;
    top: -110px;   
    left: 1460px;
    background-color: #00558d;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    padding: 10px 50px;
    margin-right: 2px;
    transition:  0.2s linear;
    border-radius: 5px; /* Закругляет углы */
    
}
.button:hover{
    font-size: 10px;
    background-color:#014775 ;
    border-radius: 10px;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 25.25%;
}


.header-down{
    position: relative;
}

.header-suptitle{
    position: absolute;
    font-weight: 500;
    top:170px;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height:1;
    
    left:75px;

}
.prolet-img {
    
    position: absolute;
    left:499px ;
    top: 50px;
    width: auto;
    height: 1060px;
    margin-right: 10px;
    border: 1.5px solid #ffffff ;
    border-radius: 50px;
}

#scrollBtn {
    background-color: #00558d;
    padding: 10px 100px;
    color: #ffffff;
    font-size: 12.5px;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    left: 75px;
    top: 550px;
    position: absolute;
    border-radius: 5px;
    transition: 0.2s linear;
}

#scrollBtn:hover {
    opacity: 0.4;
}

.header-subtitle {

    color:rgb(148, 148, 148);
    font-weight: 500;
    font-size:17.5px;
    top:350px;
    left:75px;
    position: absolute;
    line-height: 27.75px;
    margin-bottom: 100px;
    font-family:'Inter', sans-serif;

}


.card {
    background-color: #1c191f ; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 1.5px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:200px;
    transition: background-color 0.3s ease;
}


.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:350;
    margin: 0;    
}

.card-body {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 175;
    font-size: 12.5px;
    top:75px;
    left:25px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer {
    text-align: center;
}

.card-button {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.card1 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:500px;
    transition: background-color 0.3s ease;
}


.card-header1 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon1 {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title1 {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:300;
    margin: 0;    
}

.card-body1 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 175;
    font-size: 12.5px;
    top:75px;
    left:25px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer1 {
    text-align: center;
}

.card-button1 {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button1:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.card2 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:800px;
    transition: background-color 0.3s ease
}


.card-header2 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon2 {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title2 {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:450;
    margin: 0;    
}

.card-body2 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 175;
    font-size: 12.5px;
    top:75px;
    left:25px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer2 {
    text-align: center;
}

.card-button2 {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button2:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.primerdonata{
    color:rgba(255, 255, 255, 0.600);
    font-weight: 25;
    font-size: 10px;
    top:97px;
    left:1538px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;

}

@media (max-width: 768px) {
    /* Стили для устройств с шириной экрана до 768px */
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Стили для устройств с шириной экрана от 769px до 1024px */
  }
  
  @media (min-width: 1025px) {
    /* Стили для устройств с шириной экрана от 1025px и выше */
  }
